@page
@model WebApplication125.Pages.IndexModel

@{
    ViewData["Title"] = "Usuario";
}

<div class="text-center">
    <h1 class="display-4">Crud Usuarios</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre usuario</th>
            <th>Imagen Perfil</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemusuario in Model._UsuarioModels)
        {
            <tr>
                <td>@itemusuario.Id</td>
                <td>@itemusuario.Nombre_Usuario</td>
                <td>@itemusuario.imagen</td>
				<td>
                    <a class="btn btn-dark" asp-page="UpdateUsers" asp-route-id="@itemusuario.Id" role="button">Editar</a>
                    | <a class="btn btn-danger" asp-page="DeleteUsers" asp-route-id="@itemusuario.Id" role="button">Eliminar</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary">Agregar Usuario</button>
